.portfolio-content {
    position: relative;
    z-index: 5;
    margin-top: 50px;
    .logo {
        width: 50%;
    }
}

.posts {
    color: white;
    margin-top: 25px;
    ul {
        list-style-type: none;
        margin: 0;
    }
    a {
        color: white;
        text-transform: uppercase;
        font-size: 25px;
        &:hover {
            color: red;
            text-decoration: none;
        }
    }
}

.portfolio-btn {
    text-align: center;
    padding: 25px 0px;
    a {
    text-transform: uppercase;
    padding: 10px 25px;
    color: white;
    border: 1px solid white;
    margin: 0 15px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
        &:hover {
            color: black;
            background: white;
            text-decoration: none;
        }
    }
}

.portfolio-return {
    margin-top: 25px;
}

@media screen and (max-width: 425px) {
    .portfolio-content{
        margin-top: 25px;
        .logo {
            width: 75%;
        }
    }
    .posts li a {
        font-size: 20px;
    }
    .posts li p {
        font-size: 14px;
    }
}